@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Texturina&display=swap');
@import url('https://fonts.google.com/specimen/Sedan');

.new-header {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: #afb6af; 
    width: 99.9%;
    height: 150px;
}

.header-img {
    width: 120px;
}

header p {
    font-family: 'Texturina', serif;
    font-size: 70px;
    font-weight: bold;
}

.new-nav {
    font-family: 'Sedan', serif;
    display: flex;
    width: 97.8%;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 20px;
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: #afb6af;
}

.nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.list-item {
    border-right: solid;
    border-width: 2px;
    border-right-color: #afb6af; 
    font-size: 18px;
    font-weight: bold;
    padding-right: 19px;
    height: 20px;
}

.nav-second-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.second-list-first-item {
    font-size: 15px;
    padding-left: 19px;
    height: 20px;
}

.second-list-items {
    border-left: solid;
    border-width: 2px;
    border-left-color: #afb6af; 
    font-size: 17px;
    padding-left: 19px;
    height: 20px;
}

.main-container {
    display: flex;
    width: 100%;
}

.left-section {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 70%;
    height: 550px;
}

.rigth-section {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 30%;
}